
*
  box-sizing: border-box

body
  padding: 75px
  font: 14px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #272727

#logo
  display: block
  text-indent: 100%
  overflow: hidden
  white-space: nowrap
  background: url(/boot/images/logo.png)
  width: 272px
  height: 69px
  &:hover
    border-bottom: none

a
  color: #2ccdec
  text-decoration: none
  &:hover
    border-bottom: 1px solid #ddd


h1, h2, h3
  margin-top: 25px

h1
  font-size: 18px

h2
  font-size: 16px
  border-bottom: 1px dotted #ddd

#back-to-top
  bottom: 15px

p > code
  background: #f4f4f4
  font-size: .85em
  padding: 1px 3px
  border: 1px solid #e9e9e9
  border-radius: 2px

@media screen and (max-width: 900px)
  body
    padding: 20px;

@media screen and (max-width: 450px)
  body
    padding: 0;
