
body
  padding: 50px
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif

#logo
  display: block
  text-indent: 100%
  overflow: hidden
  white-space: nowrap
  background: url(/boot/images/logo.png)
  width: 272px
  height: 69px
