
ul#toc
  fixed: top 15px right
  margin: 0
  padding: 0
  li
    list-style: none
    a
      display: block
      width: 100%
      font-size: 12px
      text-align: right
      padding: 0 15px
      border: none
  li.h2 a
    font-weight: bold
