
ul#toc
  fixed: top 15px right
  margin: 0
  padding: 0
  min-width: 100px
  max-width: 200px
  opacity: .9
  transition: 250ms right, 250ms opacity
  &:hover
    opacity: 1
  li
    list-style: none
    a
      display: block
      width: 100%
      font-size: 12px
      padding: 0 15px
      border: none
      -webkit-font-smoothing: antialiased
      background: rgba(0,0,0,.85)
      color: white
      &:hover
        background: rgba(0,0,0,.8)
      &:active
        background: rgba(0,0,0,.7)
  li:first-child a
    border-radius: 2px 0 0 0
    padding-top: 15px
  li:last-child a
    border-radius: 0 0 0 2px
    padding-bottom: 15px
  li.h2 a
    font-weight: bold
  li.h3 a
    padding-left: 25px
