
#search input
  fixed: bottom 0 left
  z-index: 10
  font-size: 80px
  font-family: inherit
  font-weight: 100
  border: none
  outline: none
  text-indent: 20px
  border-bottom: 10px solid #eee
  background: rgba(255,255,255, .85)
  width: 100%
