
.components
  margin: 40px 0

.component
  height: 140px
  overflow: hidden
  position: relative
  border-bottom: 1px solid #eee
  margin-bottom: 50px

.component h3
  margin: 0

.component .repo
  font-size: 12px
  color: #7f7f7f
