
.components
  margin: 40px 0
  width: 100%
  max-width: 1140px
  min-width: 400px

.component
  height: 140px
  overflow: hidden
  position: relative
  border-bottom: 1px solid #eee
  margin: 20px
  margin-bottom: 50px
  padding-right: 15px
  float: left
  width: 28%

.component h3
  margin: 0
  a
    color: inherit

.component .repo
  font-size: 12px
  color: #7f7f7f

.component:hover .info
  bottom: 0
  opacity: 1

.component .info
  absolute: bottom -30px left
  opacity: 0
  transition: opacity 300ms, bottom 300ms
  background: rgba(0,0,0,.85)
  color: white
  font-size: 12px
  width: 100%
  display: block
  max-height: 90px
  -webkit-font-smoothing: antialiased
  tr:first-child td
    padding-top: 8px
  tr:last-child td
    padding-bottom: 8px
  td
    padding: 0 8px
  td:first-child
    opacity: .6
    width: 20%

@media screen and (max-width: 950px)
  .component
    width: 40%

@media screen and (max-width: 700px)
  .component
    width: 100%
